.courierHeader {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}
.courierHeader ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 50px;
  color: white;
}
.courierHeader ul li {
  cursor: pointer;
}
.languageSelect {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .courierHeader ul {
    flex-direction: row;
    gap: 10px;
  }

  .courierHeader ul li {
    margin: 5px 0;
  }

  .languageSelect {
    width: 100%; /* Full width for the language select */
  }
}
