.signin {
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.formContainer {
  border: 1px solid rgb(196, 189, 189);
  border-radius: 5px;
  background-color: white;
  padding: 10px 40px;
  width: 550px;
}
.inputField {
  height: 30px;
  width: 350px;
  border: 1px solid rgb(196, 189, 189);
  margin: 5px 0 !important;
  padding: 5px;
  font-size: 18px;
}

.text {
  color: #3b5998;
  text-decoration: none;
  cursor: pointer;
}
.div {
  padding: 0 10px;
  margin: 10px 0 !important;
  width: 100%;
  border-bottom: 1px solid rgb(196, 189, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonDiv {
  margin: 10px 0 !important;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 5px;
  align-items: center;
}
.termsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
.selectDiv {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 5px 0;
  margin-right: -7px;
}
.button {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 0 10px 0;
}
.error {
  text-align: center;
  color: red;
  margin: 10px 0;
}
.terms {
  cursor: pointer;
}
.bottomContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .formContainer {
    width: 80%;
    margin: 10px 0;
  }
  .inputField {
    margin: 8px 0;
  }
  .inputField {
    width: 100%;
  }

  .div {
    flex-direction: column;
  }
  .selectDiv {
    width: 100%;
    justify-content: center;
  }
}
