.modalContent {
  position: fixed;
  top: -9%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}
.selectField {
  cursor: pointer;
}

.header {
  display: flex;
  margin-bottom: -30px;
  justify-content: center;
  align-items: center;
}

.modalBody {
  font-size: 15px;
}

.textField {
  width: 100%;
}

.additionalInfoContainer {
  margin-top: 5px;
}

.textArea {
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  height: 60px;
}
.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 5px;
}
.mainAddress {
  cursor: pointer;
  float: right;
}
.mainAddress:hover {
  color: #fdc72d;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.distance {
  margin: 5px 0;
}

.orderSummary {
  padding: 0 5px;
  font-size: 15px;
}
.summaryTitle {
  text-align: center;
  font-weight: bolder;
  margin-top: 5px;
  font-size: 20px;
}
.total {
  font-weight: bold;
  margin-top: 5px;
}
.cancelButton,
.confirmButton {
  width: 100%;
}
.cancelButton {
  background-color: red !important;
}
.confirmButton {
  background-color: #fdc72d !important;
}
.error {
  display: flex;
  color: red;
  font-weight: bold;
}
