.modalContent {
  position: fixed;
  top: -5%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: center;
}

.modalBody {
  font-size: 16px;
}

.textField {
  width: 100%;
}

.additionalInfoContainer {
  margin-top: 5px;
}

.textArea {
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  height: 60px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.distance {
  margin: 5px 0;
}

.orderSummary {
  padding: 0 5px;
  font-size: 16px;
}
.summaryTitle {
  text-align: center;
  font-weight: bolder;
  margin-top: 5px;
  font-size: 20px;
}
.total {
  font-weight: bold;
}
.cancelButton,
.confirmButton {
  width: 100%;
}
.cancelButton {
  background-color: red !important;
}
.confirmButton {
  background-color: #fdc72d !important;
}
.error {
  display: flex;
  color: red;
  font-weight: bold;
}
